@model IEnumerable<ProductMaker.Models.ProductModel>

<p>
    <a asp-action="InputForm">Create New</a>
</p>

<div class="container d-flex flex-wrap">
    @foreach(var item in Model)
    {

        var s = item.Name;
        var firstWord = s.IndexOf(" ") > -1 ? s.Substring(0, s.IndexOf(" ")) : s;

    <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://loremflickr.com/g/240/240/@firstWord?lock=@item.Id" alt="@item.Name">
            <div class="card-body p-3">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@Html.DisplayFor(m => item.Price)</p>
                <p class="card-text">@item.Description</p>
                <a href="/product/ShowDetails/@item.Id" class="btn btn-info ">Show details</a>
                <a href="/product/Edit/@item.Id" class="btn btn-warning ">Edit</a>
                <a href="/product/Delete/@item.Id" class="btn btn-danger ">Delete</a>
            </div>
    </div>
    }
</div> 
